.hero-section{
    background-color: aquamarine;
    background-size: cover;
    height: 100vh;
}

.navbar-collapse{
    background: #f49e38;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: max-height 0.4s ease-out;
    max-height: 0;
    overflow: hidden;
}
.navbar-collapse.show {
    max-height: 1000px;
}
.navbar-toggler, .navbar-brand{
    z-index: 1;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-brand{
    font-size: 1.8em;
    letter-spacing: 2px;
}
.navbar-collapse .nav-link{
    font-size: 1.5em;
    letter-spacing: 2px;
}
.navbar-toggler-icon:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

